*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    padding: 4.5px 90px;

    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
header .logo .menu svg{
    color: var(--white-color);
    cursor: pointer;
}
.logo-img{
    width: 100px;
    height: 34px;
}
.logo-img img{
    width: 100%;
    height: 100%;
}
.ticket-Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    background-color: var(--white-color);
    border-radius: 3px;
    overflow: hidden;
    width: 110px;
    cursor: pointer;
}
.ticket-Logo .text{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 0 17px 2px;
    color: var(--main-color);
}
.ticket-Logo .text::before{
    position: absolute;
    content: " ";
    height: 14px;
    width: 14px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -8.5px;
}
.ticket-Logo  .cups-container{
    position: relative;
    background-color: var(--main-color);
    height: 100%;
    width: 1px;
}
.ticket-Logo  .cups-container span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--main-color);
}
.ticket-Logo  .cups-container span.cup1{
    left: 0;
}
.ticket-Logo  .cups-container span.cup2{
    top: 5px;
    right: 0;
}
.ticket-Logo  .cups-container span.cup3{
    top: 10px;
    left: 0;
}
.ticket-Logo  .cups-container span.cup4{
    top: 15px;
    right: 0;
}
.ticket-Logo  .cups-container span.cup5{
    top: 20px;
    left: 0;
}
.ticket-Logo  .cups-container span.cup6{
    top: 25px;
    right: 0;
}
.ticket-Logo  .cups-container span.cup7{
    top: 30px;
    left: 0;
}
.ticket-Logo  .cups-container span.cup8{
    top: 35px;
    right: 0;
}
.ticket-Logo  .part{
    width: 13px;
    height: 100%;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 1.1rem;
}
header nav ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
    padding: 1rem 0;
}
header nav ul li svg{
    font-size: 5px;
}
header nav ul li p{
    font-size: 13px;
    margin: 0;
    color: var(--white-color);
}
.drop:hover .dropdown{
    display: block;
}
.drop .dropdown:hover{
    display: block;
}
.dropdown {
    background-color: white;
    border-radius: 3px;
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    display: none;
    transition: .1s ease;
}
.dropdown .lang{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.dropdown .lang:nth-of-type(1){
    border-bottom: 1px solid #eee;
}
.dropdown .lang img{
    width: 22px;
    height: 13px;
}
.dropdown .lang .lang-name{
    font-size: 11px;
    color: black;

}
.dropdown .lang .lang-name.ar{
    font-size: 13px;
}
@media (max-width:815px) {
    header nav ul li p{
        display: none;
    }
    header{
        padding: 0 5%;
        background-color: #000;
    }
    .dropdown{
        bottom: -2.5rem;
    }
    header nav ul{
        gap: .5rem;
    }
     header nav ul li{
        padding-right: .5rem;
    }
        header nav ul li:not(header nav ul li:nth-last-child(1))::after {
        position: absolute;
        content: " ";
        height: 30px;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background-color: white;
    }
    .ticket-Logo{
        height: 28px;
        width: 88px;
    }
    .ticket-Logo .text::before{
        background-color: #000;
        left: -16px;
    }
    .ticket-Logo  .cups-container span{
        background-color: #000;
    }
    .ticket-Logo .text{
        padding: 0 13px 0;
        font-size: 14px;
    }
    .ticket-Logo .part{
        width: 4px;
    }

}
.register{
    background-color: rgb(235, 235, 235);
}
.register .content{
    /* padding: 2rem 2rem 4rem; */
    text-align: center;
}
.register  .Text{
    background-color: var(--white-color);
    width: 100%;
    text-align: center;
    padding: 2rem 1rem 2rem;
}
.register  h2{
    font-size: clamp(19px, 4vw, 24px);
    font-weight: 700;
}
.register .content h2{
    padding-top: 2.5rem;
    font-size: clamp(18px, 4vw, 23px);
}
.register  p{
    font-size: clamp(12px, 2vw, 15px);
    color: #616161;
    margin-top: .5rem;
}
.register .content .info {
    position: relative;
}
.register .content .info .progress {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    width: 100%;
}
.register .content .info .progress .item .number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    font-size: 18px;
    position: relative;
}
.register .content .info .progress .item .number .line{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: rgb(173, 173, 173);
    z-index: -1;
}
.register .content .info .progress .item:nth-of-type(1) .number{
    border-color: var(--main-color);
    color: var(--main-color);
}
.register .content .info .progress .item:nth-of-type(2) .number{
    border-color: var(--main-color);
    color: var(--main-color);
}
.register .content .info .progress .item:nth-of-type(1) .number .line{
    width: 50rem;
    left: -50rem;
    background-color: var(--main-color);
}
.register .content .info .progress .item:nth-of-type(2) .number .line{
    width: 4.1rem;
    left: -4.1rem;
    background-color: var(--main-color);
}
.register .content .info .progress .item:nth-of-type(3) .number .line{
    width: 4.1rem;
    left: -4.1rem;
}
.register .content .info .progress .item:nth-of-type(4) .number .line{
    width: 50rem;
    left: -4.1rem;

}
.register .content form{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
.register .content form .inputs{
    width: 50%;
    padding: 20px;
}
.register .content form .inputs p{
    /* margin-bottom: 1rem; */
    text-align: left;
    font-size: clamp(13px, 2vw, 15px);
}
.register .content form .inputs label{
    color: #616161;
    /* font-size: 15px; */
    font-size: clamp(12px,2vw,15px);
    margin-bottom: 9px;
    font-weight: bold;
}
.register .content form .inputs input{
    margin-bottom: 1rem;
    outline: none;
    border: none;
    padding: .7rem 1rem;
    width: 100%;
    background-color: var(--white-color);
}
.register .content form .inputs textarea{
    height: 7rem;
    padding: .5rem;
    width: 100%;
    border: none;
    outline: none;
}
.register .content form .checkbox{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.register .content form .checkbox input{
    width: fit-content;
    margin: 0;
}
.register .content form .checkbox p{
    text-align: left;
    margin: 0;
}
.register .content form .bold{
    padding-top: 3rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: .5rem;
}
.register .content form .bold + p{
    margin-bottom: 1.3rem;
}
.register .content form .bold.last{
    padding-top: 0;
    margin-bottom: .5rem;
}
.register .content form .input-con{
    display: flex;
    gap: 1rem;
}
.register .content form .input-con button{
    padding: .6rem 2rem;
    font-weight: 700;
    height: fit-content;
    border: none;
    background-color: rgb(197, 197, 197);
    color: var(--white-color);
}
.register .content form .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 4rem 1rem 5rem;
}
.register .content form .btn button{
    padding: .6rem 2.1rem;
    font-weight: 500;
    border: none;
    background-color: rgb(197, 197, 197);
    color: var(--white-color);
}
.register .content form .btn button:nth-of-type(2){
    background-color: rgb(110, 110, 110);
}





@media  (max-width: 576px){
     .register .content .info .progress{
        gap: 2.8rem;
     }
     .register .content form .inputs{
        width: 100%;
     }
}

@media (min-width: 577px) and (max-width: 992px) {
     .register .content form .inputs{
        width: 70%;
     }
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    padding: 30px 90px 22px;
}
footer  nav {
    display: flex;
    align-items: center;
    gap: .9rem;
}
footer  nav ul {
    display: flex;
    align-items: center;
    gap: .9rem;
}
footer  nav ul li{
    list-style: none;
    color: var(--white-color);
    font-size: 12px;
}
.register footer p{
    color: var(--white-color);
    font-size: 12px;
}
footer  nav .ticket-Logo{
     background-color: var(--main-color);
}
footer  nav .ticket-Logo .text{
     color: var(--white-color);
}
footer  nav .ticket-Logo .text::before{
     background-color: #363636;
}
footer  nav .ticket-Logo .cups-container{
     background-color: #363636;
}
footer  nav .ticket-Logo .cups-container span{
     background-color: #363636;
}
@media  (max-width: 576px){
    footer{
        padding: 15px 20px 15px;
        flex-direction: column;
        align-items: center;
    }
    footer  nav .footlogo{
        display: none;
    }
        footer  nav ul{
        flex-wrap: wrap;
        gap: 0rem;
        text-align: center;
        justify-content: space-between;
    }
    footer  nav ul li{
        width: calc((100% - 3rem) / 3);
        white-space: nowrap;
    }
    footer p{
        margin-top: .5rem;
    }
}
@media (min-width: 577px) and (max-width: 992px) {
    footer{
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    footer  nav .footlogo{
        display: none;
    }
        footer  nav ul{
        flex-wrap: wrap;
        gap: 0rem;
        text-align: center;
        justify-content: space-between;
    }
    footer  nav ul li{
        width: calc((100% - 3rem) / 3);
        white-space: nowrap;
    }
    footer p{
        margin-top: .5rem;
    }

}